.App {
  text-align: center;
  padding: 1.5rem;
}

.filters, .filters ul, .car-owners-list {
  list-style: none;
  padding: 0;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title i{
  margin-right: .5rem;
}

.page-title a{
  text-decoration: none;
  color: #343a40;
}

.page-title {
  color: #343a40;
  text-align: left;
}

.filters-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 1.5rem 1rem;
  cursor: pointer;
  width: 100%;
  max-width: 450px;
  margin-bottom: 1rem;
}

.filters-item a{
  text-decoration: none;
}
.filters-item  h3 {
  margin-top: 0;
  color: #343a40;
}
.filters-item p{
  color: #343a40;
  text-transform: capitalize;
}

.filters-item ul{
  display: flex;
  justify-content: center;
  
}

.filters-item-countries {
  margin-bottom: 1rem;
  flex-wrap: wrap;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.filters-item-countries li{
  background-color: #f8f9fa;
  padding: .5rem;
  border-radius: 20px;
  margin-bottom: .5rem;
  color: #6c757d;
  font-weight: bold;
}

/* .filters-item:not(:last-of-type) {
  margin-bottom: 1rem;
} */

.filters-item-countries li:not(:last-of-type),
.filters-item-colors li:not(:last-of-type) {
  margin-right: 1rem;
}

.filters-item-colors li {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.car-owners-list-item {
  display: flex;
  background-color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 10px;
}

.car-owners-list-item:not(:last-of-type){
  margin-bottom: 1rem;
}

.car-owners-list-item-info {
  display: flex;
  margin-bottom: 1rem;
}

.car-owners-list-item-info:first-of-type div {
  padding-right: 1rem;
}

.car-owners-list-item-info:first-of-type div:not(:first-of-type) {
  padding-left: 1rem;
}

.car-owners-list-item-info:first-of-type div:not(:last-of-type){
  border-right: 1px solid #000;
}

.car-owners-list-item-info:last-of-type div:not(:last-of-type) {
  margin-right: 1rem;
}

.car-owners-list-item-right {
  text-align: left;
  margin-left: 2rem;
}

.car-owners-list-item-right p {
  margin: 0;
}

.car-owners-list-item-right h3 {
  margin: 0;
  margin-bottom: 1rem;
}

.car-owners-list-item-info-label {
  color: grey;
}

.car-owners-list-item-info-value span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.car-owners-list-item-info-email {
  margin-bottom: 1rem !important;
}

.car-owners-list-item-info-email,
.car-owners-list-item-info-bio {
  color: grey;
}
.car-owners-list-item-info-email span, 
.car-owners-list-item-info-bio span {
  color: #000;
}